.sign-in {
  background-color: #e4dac7;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.sign-in .group {
  height: 408px;
  left: 535px;
  position: absolute;
  top: calc(50.00% - 224px);
  width: 373px;
}

.sign-in .vector {
  height: 378px;
  left: 0;
  position: absolute;
  top: calc(50.00% - 204px);
  width: 365px;
}

.sign-in .img {
  height: 46px;
  left: 105px;
  position: absolute;
  top: 298px;
  width: 147px;
}

.sign-in .text-wrapper {
  color: #4a4541;
  font-family: "Lalezar", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 298px;
  width: 226px;
}

.sign-in .sign-in-click-area {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 51px;
  left: 105px;
  padding: 0;
  position: absolute;
  top: 298px;
  width: 147px;
  z-index: 3;
}

.sign-in .don-t-have-an {
  color: #f36745;
  cursor: pointer;
  display: block;
  font-family: "Lalezar", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: none;
  top: 385px;
  width: 253px;
}

.sign-in .rectangle {
  background-color: #e4dac6;
  border-radius: 25px;
  height: 55px;
  left: 21px;
  position: absolute;
  top: 180px;
  width: 329px;
}

.sign-in .email-input,
.sign-in .password-input {
  background: transparent;
  border: 0;
  color: #4a4541;
  font-family: "Lalezar", Helvetica;
  font-size: 22px;
  font-weight: 400;
  height: 55px;
  left: 36px;
  letter-spacing: 0;
  outline: 0;
  padding: 9px 16px 5px;
  position: absolute;
  width: 300px;
  z-index: 2;
}

.sign-in .email-input {
  top: 77px;
}

.sign-in .password-input {
  top: 180px;
}

.sign-in .div {
  color: #e4dac7;
  font-family: "Lalezar", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 145px;
  width: 238px;
}

.sign-in .vector-2 {
  height: 55px;
  left: 21px;
  position: absolute;
  top: 77px;
  width: 329px;
}

.sign-in .text-wrapper-2 {
  color: #e4dac7;
  font-family: "Lalezar", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 144px;
}

.sign-in .p {
  color: #1e1e1e;
  font-family: "Lalezar", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 465px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50.00% - 316px);
}

.sign-in .group-2 {
  height: 1231px;
  left: calc(50.00% - 860px);
  position: absolute;
  top: -73px;
  transform: rotate(180deg);
  width: 414px;
}

.sign-in .image {
  aspect-ratio: 1.54;
  height: 498px;
  left: calc(50.00% - 207px);
  position: absolute;
  top: 134px;
  transform: rotate(-180deg);
  width: 274px;
}

.sign-in .image-2 {
  aspect-ratio: 1.54;
  height: 559px;
  left: calc(50.00% - 207px);
  position: absolute;
  top: 599px;
  transform: rotate(-180deg);
  width: 274px;
}
