.sign-up {
  background-color: #e4dac7;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.sign-up .text-wrapper {
  color: #f36745;
  cursor: pointer;
  display: block;
  font-family: "Lalezar", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 550px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: none;
  top: 830px;
}

.sign-up .group {
  height: 607px;
  left: 525px;
  position: absolute;
  top: 209px;
  width: 402px;
}

.sign-up .vector {
  height: 607px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.sign-up .img {
  height: 51px;
  left: 110px;
  position: absolute;
  top: 536px;
  width: 158px;
}

.sign-up .div {
  color: #4a4541;
  font-family: "Lalezar", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 144px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 541px;
  width: 121px;
}

.sign-up .log-in-click-area {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 51px;
  left: 110px;
  padding: 0;
  position: absolute;
  top: 536px;
  width: 158px;
  z-index: 3;
}

.sign-up .sign-up-input {
  background: transparent;
  border: 0;
  color: #4a4541;
  font-family: "Lalezar", Helvetica;
  font-size: 22px;
  font-weight: 400;
  height: 55px;
  left: 40px;
  letter-spacing: 0;
  outline: 0;
  padding: 9px 16px 5px;
  position: absolute;
  width: 300px;
  z-index: 2;
}

.sign-up .sign-up-input::placeholder {
  color: #4a4541;
  opacity: 0.5;
}

.sign-up .full-name-input {
  top: 104px;
}

.sign-up .email-input {
  top: 216px;
}

.sign-up .password-input {
  top: 330px;
}

.sign-up .confirm-password-input {
  top: 451px;
}

.sign-up .text-wrapper-2 {
  color: #fdf2de;
  font-family: "Lalezar", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 404px;
  width: 242px;
}

.sign-up .vector-2 {
  height: 55px;
  left: 25px;
  position: absolute;
  top: 451px;
  width: 329px;
}

.sign-up .rectangle {
  background-color: #e4dac6;
  border-radius: 25px;
  height: 55px;
  left: 25px;
  position: absolute;
  top: 330px;
  width: 329px;
}

.sign-up .text-wrapper-3 {
  color: #4a4541;
  font-family: "Lalezar", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 358px;
  width: 333px;
}

.sign-up .text-wrapper-4 {
  color: #e4dac7;
  font-family: "Lalezar", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 284px;
  width: 102px;
}

.sign-up .text-wrapper-5 {
  color: #fdf2de;
  font-family: "Lalezar", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 174px;
  width: 242px;
}

.sign-up .vector-3 {
  height: 55px;
  left: 25px;
  position: absolute;
  top: 216px;
  width: 329px;
}

.sign-up .vector-4 {
  height: 55px;
  left: 25px;
  position: absolute;
  top: 104px;
  width: 329px;
}

.sign-up .text-wrapper-6 {
  color: #fdf2de;
  font-family: "Lalezar", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 48px;
  width: 242px;
}

.sign-up .text-wrapper-7 {
  color: #4a4541;
  font-family: "Lalezar", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 582px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 688px;
  width: 333px;
}

.sign-up .text-wrapper-8 {
  color: #1e1e1e;
  font-family: "Lalezar", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 515px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 129px;
  width: 648px;
}

.sign-up .group-2 {
  height: 1231px;
  left: calc(50.00% - 848px);
  position: absolute;
  top: -66px;
  transform: rotate(180deg);
  width: 414px;
}

.sign-up .image {
  aspect-ratio: 1.54;
  height: 491px;
  left: calc(50.00% - 207px);
  position: absolute;
  top: 141px;
  transform: rotate(-180deg);
  width: 286px;
}

.sign-up .image-2 {
  aspect-ratio: 1.54;
  height: 566px;
  left: calc(50.00% - 207px);
  position: absolute;
  top: 599px;
  transform: rotate(-180deg);
  width: 286px;
}
